@import 'reset';
@import 'variables';
@import 'fonts.scss';
@import 'mixin';

.about-product {
  padding: 32px 0 0;
  text-align: center;
  &__title {
    @include font-title;
    font-size: 2em;
    line-height: 1.19;
    color: $deluge;
    margin-bottom: 35px;
    text-align: center;
    &:before {
      content: '\0003C';
      padding-right: 3px;
      vertical-align: middle;
    }
    &:after {
      content: '\0003E';
      padding-left: 3px;
      vertical-align: middle;
    }
    &_visible.about-product__title {
      display: block;
    }
    &_hidden {
      display: none;
    }
  }
}


.flex {
  &__item {
    &_left.flex__item {
      margin-bottom: 64px;
    }
    &_right {
      text-align: right;
    }
  }
}


.feature {
  margin-bottom: 40px;
  &__img-wrap {
    padding: 25px 0 25px 25px;
    margin-bottom: 25px;
  }
  &__content {
    text-align: center;
    justify-items: left;
  }
  &__title {
    font-family: $montserrat;
    font-size: 1em;
    color: $nightRider;
    margin-bottom: 14px;
    line-height: 1.19;
  }
  &__description {
    font-family: $montserrat;
    font-size: .875em;
    line-height: 1.5;
    color: $lightSlateGrey;
  }
}

.about-product {
  &__container.container {
    align-items: center;
    margin: unset;
    padding: 0;

  }
  &__title {
    display: none;
  }
  &__img {
    margin: 20px 0 25px 20px;
    height: auto;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
    width: 80%;
  }
}




.about-product {
  @media screen and (min-width: 481px) {
    padding: 62px 0 0;
  }
  @media screen and (min-width: 993px) {
    background: $whiteSmoke;
  }
  &__title {
    @media screen and (min-width: 481px) {
      font-size: 2.625em;
      margin-bottom: 50px;
    }

    &_visible.about-product__title {
      @media screen and (min-width: 993px) {
        display: none;
      }
    }
  }
  &_hidden {
    @media screen and (min-width: 993px) {
      font-size: 3em;
      display: unset;
      margin-left: 20px;
    }
  }
  &__img {
    @media screen and (min-width: 481px) {
      width: 80%;
    }
    @media screen and (min-width: 993px) {
      width: 100%;
    }
  }
}

.about-product.container {
  @media screen and (min-width: 993px) {
    max-width: unset;
    width: unset;
  }
}

.flex {
  &-container {
    @media screen and (min-width: 993px) {
      display: flex;
      padding-left: 10px;
      justify-content: space-between;
    }
  }
  &__item {
    &_left.flex__item {
      @media screen and (min-width: 481px) {
        margin-bottom: 76px;
      }
      @media screen and (min-width: 993px) {
        margin-right: 50px;
        margin-left: 50px;
        width: 45%;
      }
    }
    &_right {
      @media screen and (min-width: 993px) {
        text-align: left;
        width: 55%;
      }
    }
  }
}

.container.flex__item {
  @media screen and (min-width: 993px) {
    max-width: unset;
    padding: 0;
  }

}

.feature {
  @media screen and (min-width: 481px) {
    display: flex;
    text-align: left;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 993px) {
    margin-bottom: 34px;
  }
  &__img-wrap {
    @media screen and (min-width: 481px) {
      max-width: 154px;
      width: 100%;
      padding-left: 20px;
      text-align: center;
      padding-right: 23px;
      margin-bottom: 0;
    }
  }

  &__content {
    @media screen and (min-width: 481px) {
      text-align: left;
    }
  }
  &__title {
    @media screen and (min-width: 481px) {
      line-height: 1.31;
    }
  }
}

.about-product {
  &__container.container {
    @media screen and (min-width: 993px) {
      max-width: unset;
      width: unset;
    }
  }
  &__title {
    @media screen and (min-width: 993px) {
      display: unset;
    }
  }
}
