@import "mixin";
@import "variables";


.header {
  min-width: 320px;
  text-align: center;

  &__container {
    background-image: url("../img/notebook.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: center;
  }

  &__nav-wrap {
    background: $haiti;
    padding: 34px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  &__logo {
    background-image: url(../img/pen.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 43px;
    height: 41px;
  }

  &__title-logo {
    display: none;
  }

  &__navigation {
    margin: 0 auto;
    order: 2;
    position: absolute;
    top: 100%;

    &.toggle {
      border: 2px solid lighten($nightRider, 3%);
      border-top: none;
      border-bottom: none;
      background-color: $nightRider;
      padding-bottom: 14px;
    }

  }

  &__list {
    box-shadow: 0 0 1px 0.4px $nightRider;
    background: $nightRider;
  }

  &__list.toggle {
    display: none;
  }

  &__item {
    border-bottom: 2px solid lighten($nightRider, 3%);
    padding: 29px 50px 29px 34px;
    text-align: left;
    position: relative;

    &:focus-within {
      &::before {
        content: "";
        display: inline-block;
        height: 53px;
        width: 7px;
        background-color: $deluge;
        position: absolute;
        left: 3px;
        transform: translate(-50%, -50%);
        top: 50%;
      }
    }
  }

  &__link {
    font-size: 26px;
    color: $white;
    @include mont-reg();
    padding: 2px;
    cursor: pointer;
    &:focus-within {
      color: $deluge;
    }
  }

  &__burger-box {
    width: 27px;
    height: 27px;
    cursor: pointer;
  }

  &__on-zone {
    position: relative;
    width: 27px;
    height: 27px;
  }

  &__off-zone {
    width: 27px;
    height: 27px;
    display: none;
  }

  &__on {
    position: absolute;
    bottom: 50%;
    width: 26px;
    height: 3px;
    background-color: $white;
    border-radius: 10px;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 3px;
      border-radius: 10px;
      background-color: $white;
    }

    &::before {
      width: 15px;
      position: relative;
      bottom: 9px;
      left: 11px;
    }

    &::after {
      width: 26px;
      margin-top: 6px;
    }
  }

  &__off {
    position: absolute;
    bottom: 50%;
    width: 29px;
    height: 3px;
    border-radius: 10px;
    background-color: $white;
    transform: rotate(140deg);

    &::after {
      width: 29px;
      height: 3px;
      border-radius: 10px;
      background-color: $white;
      content: "";
      display: block;
      transform: rotate(-100deg);
    }
  }

  &__nav-button {
    margin: 0 auto;
    background: $deluge;
    border-radius: 40px;
    padding: 11px 15px;
    @include mont-bold();
    font-size: 15px;
    color: $white;
  }

  &__box-description {
    padding: 50px 10px 407px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title {
    font-size: 48px;
    color: $white;
    @include mont-bold();

  }

  &__subtitle {
    margin-top: 20px;
    margin-bottom: 15px;
    color: $deluge;
    font-size: 18px;
    @include mont-reg();
    line-height: 1.3;
  }

  &__version-app {
    color: $lightSlateGrey;
    font-size: 14px;
    @include mont-reg();
    text-transform: uppercase;
  }

  &__button {
    background: $deluge;
    border-radius: 40px;
    padding: 13px 29px;
    @include mont-bold();
    font-size: 18px;
    color: $white;
    position: relative;
    top: 22px;
    border: 2px solid transparent;
  }

  &__btn-description {
    color: $lightSlateGrey;
    @include mont-reg();
    font-size: 14px;
    margin-top: 35px;
  }

  &__bottom-zone {
    padding: 0 10px;
    margin-top: 79px;
  }
}

.bottom-zone {
  min-width: 320px;

  &__title {
    color: #635c73;
    font-size: 26px;
    @include mont-bold();
    text-transform: uppercase;
    line-height: 1.4;
  }

  &__subtitle {
    color: $nightRider;
    @include lato-reg();
    font-size: 14px;
    line-height: 1.4;
    margin-top: 27px;
    margin-bottom: 36px;
  }

  &__box-button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__btn-title {
    @include lato-reg();
    font-size: 12px;
    margin-left: 3px;
    color: rgb(75, 62, 62);
  }

  &__btn {
    cursor: pointer;
    width: 105px;
    border: 1px solid rgb(221, 217, 217);
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  &__btn-icon {
    padding: 3px;
    background-color: rgb(247, 238, 238);
    align-items: center;
    display: flex;
    border-right: 1px solid rgb(221, 217, 217);
  }

  &__btn-numb {
    padding: 3px;
    text-align: center;
    width: 100%;
  }

  &__numb {
    @include lato-reg();
    font-size: 12px;
    color: $craterBrown;
  }
}

@media screen and (min-width: 481px) {
  .header {
    &__nav-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: unset;
    }

    &__box-logo {
      display: flex;
      align-items: center;
      min-width: 150px;
      justify-content: space-between;
    }

    &__title-logo {
      display: block;
      font-size: 24px;
      text-transform: uppercase;
      @include lato-bold();
      color: $deluge;
    }

    &__navigation {
      margin-top: 20px;
      position: static;
      order: 1;
      width: 100%;
      background-color: transparent;
      border: none;
      display: block;
      &.toggle {
        border: none;
        background-color:transparent;
        padding-bottom: 0;
      }

    }

    &__list {
      padding-right: 2%;
      padding-left: 2%;
      box-shadow: 0 0 0 0 transparent;
      background-color: transparent;
      justify-content: space-around;
      display: flex;
    }

    &__list.toggle {
      display: flex;
    }

    &__item {
      padding: 0;
      border-bottom: 0;
      &:focus-within {
        &::before {
          content: unset;
        }
      }
    }

    &__link {
      font-size: 16px;
      @include mont-bold();
      color: $deluge;
      padding: 7px;
    }

    &__nav-button {
      padding: 11px 20px;
      margin: 0;
    }

    &__burger-box {
      display: none;
    }

    &__box-description {
      padding: 70px 10px 440px;
    }

    &__title {
      font-size: 72px;
    }

    &__subtitle {
      font-size: 24px;
    }

    &__button {
      padding: 23px 61px;
      font-size: 21px;
      top: 32px;
    }

    &__btn-description {
      margin-top: 50px;
    }

    &__bottom-zone {
      margin-top: 93px;
    }
  }
  .bottom-zone {
    &__title {
      font-size: 42px;
    }

    &__subtitle {
      font-size: 21px;
      margin-top: 33px;
      padding-left: 15%;
      padding-right: 15%;
    }

    &__box-button {
      margin: 0 auto;
      width: 370px;
    }

    &__btn-title {
      font-size: 14px;
      margin-left: 4px;
    }

    &__btn {
      width: 112px;
      margin-bottom: 20px;
    }

    &__btn-icon {
      padding: 4px;
    }

    &__btn-numb {
      padding: 4px;
    }

    &__numb {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 993px) {
  .header {
    &__nav-wrap {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__box-logo {
      margin: 0 130px 0 auto;
    }

    &__navigation {
      margin-top: 0;
      width: 55%;
    }

    &__list {
      padding-right: 0;
    }

    &__link {
      transition: all ease-in 0.8s;

      &:hover {
        transition: all ease-in 0.8s;
        color: $white;
      }
    }

    &__nav-button {
      order: 2;
      margin: 0 auto;

      &:hover {
        transition: all ease 0.8s;
        background: $white;
        color: $deluge;
      }
    }

    &__box-description {
      padding: 130px 10px 440px;
    }

    &__title {
      font-size: 82px;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__version-app {
      font-size: 16px;
    }

    &__button {
      transition: all ease 0.8s;

      &:hover {
        transition: all ease 0.8s;
        background: $white;
        color: $deluge;
        border: 2px solid $deluge;
      }
    }

    &__bottom-zone {
      margin-top: 66px;
    }
  }
  .bottom-zone {
    margin-bottom: 70px;

    &__title {
      font-size: 54px;
    }

    &__subtitle {
      padding-left: 20%;
      padding-right: 20%;
      margin-top: 35px;
    }
  }

  .header__box-logo:hover .header__logo {
    background-image: url("../img/hover.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__box-logo:hover .header__title-logo {
    color: $white;
  }
}
