@import 'variables';

@mixin mont-reg {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin mont-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-style: normal;
}
@mixin lato-bold {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}
@mixin lato-bold-it {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: italic;
}
@mixin lato-reg {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin font-title {
	font-family: $montserrat;
	font-weight: bold;
}