@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixin';

.preview {
  padding: 80px 0 90px;
  text-align: center;

  &__title {
    @include font-title;
    font-size: 1.625em;
    text-transform: uppercase;
    color: $smoky;
    margin-bottom: 25px;
    line-height: 1.08;
  }


  &__subtitle {
    font-family: $lato;
    color: $nightRider;
    font-size: 0.875em;
    line-height: 1.4285;
    margin-bottom: 35px;

  }
}


.github {
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: $white;
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
  &__item {
    padding-bottom: 10px;
    margin: 5px;
  }
}

.clearfix::before {
  display: table;
  content: "";
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.btn-sm {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
}

.btn {
  color: #24292e;
  background-color: #fafbfc;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  position: relative;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  appearance: none;
}

.btn-with-count {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.social-count {
  position: relative;
  float: left;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: $white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.btn:hover {
  background-color: #f3f4f6;
  transition-duration: 0.1s;
}

.social-count:hover {
  color: #0366d6;
  cursor: pointer;
}

.btn .github__icon {
  vertical-align: text-bottom;
  margin-right: 5px;
}


.preview {
  @media screen and (min-width: 481px) {
    padding: 94px 0 98px;
  }
  @media screen and (min-width: 993px) {
    padding: 66px 0 70px;
  }

  &__title {
    @media screen and (min-width: 481px) {
      font-size: 2.625em;
      margin-bottom: 33px;
    }
    @media screen and (min-width: 993px) {
      font-size: 3.375em;

    }
  }

  &__subtitle {
    @media screen and (min-width: 481px) {
      font-size: 2em;
      line-height: 1.52;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 993px) {
      max-width: 861px;
      margin: 0 auto 13px;
      width: 100%;
    }
  }
}