@import 'reset';
@import 'variables';
@import 'fonts.scss';
@import 'mixin';

.pricing {
  background: center / cover url("../img/pricing-bg.jpg") no-repeat;
  padding: 14px 0;
  text-align: center;
  &__title {
    @include font-title;
    font-size: 1.75em;
    color: $white;
    margin-bottom: 30px;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.11);
  mix-blend-mode: normal;
  padding-bottom: 37px;
  width: 257px;
  &__wrapper {
    max-width: 86%;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    &_agency {
      width: 100%;
      max-width: unset;
    }
  }


  &_agency {
    background-color: rgba(79, 48, 72, .84);
    mix-blend-mode: normal;
    margin: 0 auto 18px;
    padding-bottom: 47px;
    width: 299px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &__name {
    font-family: $montserrat;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $white;
    background-color: rgba(255, 255, 255, .06);
    padding: 36px 0;
    height: 97px;
    box-sizing: border-box;
    &_agency {
      height: 111px;
      box-sizing: border-box;
    }
  }
  &__price-details {
    height: 278px;
    padding-top: 30px;
    box-sizing: border-box;
    &_agency {
      height: 350px;
      box-sizing: border-box;
      padding-top: 14px;
    }
  }
  &__amount {
    font-family: $montserrat;
    font-size: 3.75em;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    margin-bottom: 20px;
    &:before {
      content: '\00024';
      font-weight: 300;
    }
    &_agency {
      font-size: 5.125em;
    }
  }
  &__period {
    font-family: $montserrat;
    font-size: .875em;
    text-transform: uppercase;
    color: $white;
    &:after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background-color: $deluge;
      margin: 37px auto 30px;
    }
    &_agency {
      &:after {
        margin: 46px auto 40px;
      }
    }
  }
  &__btn {
    font-family: $montserrat;
    font-size: 0.9375em;
    text-transform: uppercase;
    color: $white;
    background: rgba(255, 255, 255, .15);
    mix-blend-mode: normal;
    padding: 0 37px;
    border-radius: 40px;
    border: 0;
    height: 45px;
    box-sizing: border-box;
    &_agency {
      height: 52px;
      font-size: 1em;
      padding: 0 48px;
    }
  }
}


.services {
  margin-bottom: 83px;
  &__item {
    font-family: $montserrat;
    font-size: 1em;
    color: $white;
    margin-bottom: 2px;
  }
}



.pricing {
  @media screen and (min-width: 481px) {
    padding: 88px 0;
  }
  @media screen and (min-width: 993px) {
    padding: 83px 0;
  }
  &__title {
    @media screen and (min-width: 481px) {
      font-size: 2.625em;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 993px) {
      font-size: 3em;
      margin-bottom: 61px;
    }
  }
  &__wrapper {
    @media screen and (min-width: 481px) {
      display: inline-flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    @media screen and (min-width: 993px) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

.card {
  @media screen and (min-width: 481px) {
    width: 85.95%;
    max-width: 257px;
  }
  &_agency {
    @media screen and (min-width: 481px) {
      max-width: 299px;
    }

  }
  @media screen and (min-width: 993px) {
    width: 257px;
  }

  &__wrapper {
    @media screen and (min-width: 481px) {
      width: 46.975%;
      display: flex;
      justify-content: flex-end;
      margin: 0 0 30px 0;
    }
    @media screen and (min-width: 993px) {
      width: 23%;
      display: flex;
      justify-content: center;
    }

    &_agency {
      @media screen and (min-width: 481px) {
        width: 46.975%;
        margin: 0 0 30px 0;
      }
      @media screen and (min-width: 993px) {
        width: 25.98%;
        display: flex;
        justify-content: center;
      }
    }
  }

  &_agency {
    @media screen and (min-width: 481px) {
      width: 100%;
      margin: 0;
    }
    @media screen and (min-width: 993px) {
      width: 299px;

    }
  }
}