@import "mixin";
@import 'variables';

.reviews {
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("../img/bckrock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 57px;
  &__container {

    padding: 57px 10px 15px;
  }

  &__title {
    font-size: 36px;
    color: $white;
    @include mont-bold();
    margin-bottom: 53px;
    line-height: 1.3;
  }

  &__item {
    margin-bottom: 45px;
  }

  &__logo {
    margin-bottom: 33px;
  }

  &__review-txt {
    @include lato-bold-it();
    font-size: 16px;
    color: $white;
    line-height: 1.4;
  }

  &__description {
    @include lato-reg();
    font-size: 14px;
    color: #a291a5;
    line-height: 1.4;
    position: relative;
    padding-bottom: 22px;

    &:after {
      content: '';
      width: 76.6%;
      display: block;
      height: 2px;
      background-color: $fedora;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 22px;
      margin-left: auto;
      margin-right: auto;
    }

  }
}

@media screen and (min-width: 481px) {
  .reviews {
    padding-top: 85px;
    &__title {
      font-size: 42px;
      margin-bottom: 85px;
    }

    &__box-reviews {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      min-height: 130px;
      margin-bottom: 58px;
    }

    &__review-txt {
      line-height: 1.5;
      padding-left: 10%;
      padding-right: 10%;
    }

    &__description {
      padding-left: 4%;
      padding-right: 4%;
      line-height: 1.5;
      padding-bottom: 43px;

      &:after {
        width: 72.2%;
        margin-top: 18px;



      }
    }
  }
}

@media screen and (min-width: 993px) {
  .reviews {
    padding-top: 108px;
    &__title {
      font-size: 48px;
      margin-bottom: 81px;
    }

    &__item {
      width: 33%;
      margin-bottom: 112px;
    }

    &__review-txt {
      padding-left: 13%;
      padding-right: 13%;
    }

    &__description {
      padding-left: 11%;
      padding-right: 11%;
      &:after {
        width: 65%;
      }
    }
  }
}
