@import "reset";
@import "fonts";
@import "mixin";
@import "variables";
@import "header-section";
@import 'preview-section';
@import 'about-product-section';
@import "reviews-section";
@import 'pricing-section';


body {
  font-family: $montserrat, $lato;
}


.container {
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  min-width: 320px;
  margin-top: 120px;

  &__container {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__image {
    display: none;
  }

  &__title {
    padding: 0 33px;
    color: $deluge;
    font-size: 32px;
    @include mont-bold();
    margin-bottom: 36px;
    line-height: 1.4;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
  }

  &__title-txt {
    color: $nightRider;
    @include mont-reg();
    font-size: 16px;
    margin-top: 27px;
    margin-bottom: 15px;
  }

  &__txt-description {
    color: $lightSlateGrey;
    font-size: 14px;
    line-height: 1.4;
    @include lato-reg();
  }
}

.img-bottom {
  margin-top: 58px;
  position: relative;
  left: 10px;
  width: 100%;
  height: 381px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 481px) {
  .main {
    margin-top: 160px;

    &__image {
      display: none;
    }

    &__title {
      font-size: 42px;
      margin-bottom: 50px;
    }

    &__block-text-icon {
      margin-left: 15px;
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &__icon-box {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icons {
      object-fit: cover;
      max-width: 100%;
      height: auto;
    }

    &__box-txt {
      width: 80%;
      padding-left: 2%;
      padding-right: 4%;
      text-align: left;
    }
  }

  .img-bottom {
    margin-top: 76px;
    height: auto;
  }
}

@media screen and (min-width: 993px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
  .main {
    margin-top: 0;
    padding: 94px 0 70px 10px;
    background: $whiteSmoke;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__image {
      display: block;
    }

    &__block-title-img {
      display: inline-flex;
      flex-direction: column;
      width: 50%;
      order: 2;
    }

    &__title {
      font-size: 48px;
    }

    &__block-text-icon {
      width: 46%;
    }

    &__box-txt {
      padding-left: 3%;
      padding-right: 8%;
    }

    &__txt-description {
      line-height: 1.5;
    }
  }

  .img-bottom {
    display: none;
  }
}



