//font-colors
$white: #fff;
$deluge: #8D81AC;
$lightSlateGrey: #848E97;
$smoky: #635C73;
$nightRider: #323232;
$amethystSmoke: #A291A5;
$craterBrown: #4b3e3e;

//bg-colors
$fedora: #645766;
$whiteSmoke: #F4F4F4;
$haiti: #27262A;

//font-family
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

